@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    font-family: 'Pokemon Solid', sans-serif !important;
}

.progress {
    height: 20px;
}

.evo-card {
    min-width: 100px;
    text-align: center;
}

.evo-card img {
    width: 80px;
}

.evo-arrow {
    font-size: 24px;
    margin: 0 10px;
    align-self: center;
}

.pokedex {
    max-width: 100vw;
    margin: auto;
    padding: 20px;
    background: #b71c1c;
    /* Pokédex red */
    border-radius: 20px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5),
        0 10px 30px rgba(0, 0, 0, 0.8);
}

.screen {
    background: #111;
    border-radius: 10px;
    padding: 15px;
    color: #0f0;
    /* classic Pokédex green */
    font-family: monospace;
}


/* Responsive adjustments */
@media (max-width: 576px) {
    .evo-arrow {
        display: none;
    }
}